.carousel {
  .item {
    text-align: center;
  }
}
.carousel-indicators {
  margin: 0;
  padding: 0;
  position: static;
  width: 100%;
  li {
    background-color: #d8d8d8;
    &.active,
    &:hover {
      background-color: $dusty-orange;
    }
  }
}
.carousel-control {
  background: none;
  color: $dusty-orange;
  box-shadow: none;
  opacity: 1;
  text-shadow: none;
  top: 23%;
  &.left,
  &.right {
    background: none;
  }
  &:focus,
  &:hover {
    color: $text-color;
    opacity: 1;
  }
  .icon-prev, 
  .icon-next, 
  .glyphicon-chevron-left, 
  .glyphicon-chevron-right {
    top: 0;
  }
}