@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto|Source+Sans+Pro:200,300,400,600,700');
@font-face {
	font-family: 'Dakota';
	src: url('../fonts/handwriting-dakota.eot');
	src: local('☺'), url('../fonts/handwriting-dakota.woff') format('woff'), url('../fonts/handwriting-dakota.ttf') format('truetype'), url('../fonts/handwriting-dakota.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
