@import url('https://fonts.googleapis.com/css?family=Roboto:200,300,400,600,700');
@font-face {
	font-family: 'Myriad Pro Regular';
	src: url('fonts/myriad_pro_regular.eot');
	src: local('☺'), url('fonts/myriad_pro_regular.woff') 
	format('woff'), url('fonts/myriad_pro_regular.ttf') f
	ormat('truetype'), url('fonts/myriad_pro_regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

