.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999999;
  background: #fff;
  > i {
    position: absolute;
    font-size: 36px;
    line-height: 36px;
    top: 50%;
    left: 50%;
    height: 36px;
    width: 36px;
    margin-top: -15px;
    margin-left: -15px;
    display: inline-block;
  }
}
.section-banner {
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
  .caption {
    position: absolute;
    top: 50%;
    margin-top: -104px;
    left: 0;
    right: 0;
    text-align: center;
    text-transform: uppercase;
    z-index: 15;
    font-size: 18px;
    font-weight: 300;
    color: #fff;
    h1 {
      background-color: $dusty-orange;
      color: #fff;
      display: inline-block;
      font-size: 18px;
      margin-bottom: $base-spacing;
      padding: $base-spacing ($base-spacing * 3);
      @media (min-width: 768px) {
        font-size: 36px;
      }
      span {
        font-weight: 900;
      }
    }
  }
  &:hover {
    .left-control {
      left:30px;
    }
    .right-control {
      right:30px;
    }
  }
}

// Section: Openning hours
.section-openhour {
  color: $white;
  margin: 0;
  padding: 0;
  .section-content {
    .inner {
      padding: ($base-spacing * 4) 0;
    }
    .open-item {
      background: $gray;
      color: $text-color;
    }
    .img-responsive {
      margin: 0 0 ($base-spacing * 2);
      max-height: 40px;
    }
    h3 {
      font: bold 16px Roboto;
      margin: 0 0 $base-spacing;
      text-transform: uppercase;
      @media (min-width: 768px) {
        font: 500 20px $font-family-sans-serif;
        margin: 0 0 ($base-spacing * 3);
      }
    }
    p {
      margin: 0 0 ($base-spacing * 3);
    }
    table {
      border: 0 none;
      tr:first-child th,
      tr:first-child td {
        border-top: 0 none;
      }
    }
  }
}

// Section: Services
.section-service {
  .section-content {
    h2 {
      margin: 0 0 $base-spacing;
    }
    .inner {
      background-repeat: no-repeat;
      background-position: left center;
      margin: 0 0 ($base-spacing * 3);
      padding: 0 0 0 90px;
      text-align: left;
      &.inner--healthy-care {
        background-image: url(../images/icons/mobile/healthy-care-icon.png);
      }
      &.inner--mri-scaner {
        background-image: url(../images/icons/mobile/mri-scaner-icon.png);
      }
      &.inner--ct-scaner {
        background-image: url(../images/icons/mobile/ct-scaner-icon.png);
      }
      &.inner--eye-care {
        background-image: url(../images/icons/mobile/eye-care-icon.png);
        margin: 0;
      }
      @media (min-width: 768px) {
        background: none !important;
        text-align: center;
        margin: 0;
        padding: 0;
      }
      h2 {
        margin: 0;
        @media (min-width: 768px) {
          margin: 0 0 ($base-spacing * 1);
        }
      }
    }
    .img-responsive {
      margin: 0 0 ($base-spacing * 3);
    }
  }
}

// Section: Portfolio
.section-portfolio {
  margin: 0;
  padding: 0;
  .section-content {
    .portfolio {
      margin: 0 -15px;
      position: relative;
      overflow: hidden;
      .img-responsive {
        margin: 0;
        width: 100%;
        -webkit-transition: all 0.8s ease-in-out;
        transition: all 0.8s ease-in-out;
      }
      .overlay {
        background-color: $dusty-orange;
        color: #fff; 
        left: 0;
        right:0;
        bottom:-100%;
        height: 0;
        position: absolute;
        text-align: center;
        opacity:0;  
        -webkit-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
        .overlay-content {
          display: table;
          height: 100%;
          width: 100%;
        }
        .folio-overview {
          display: table-cell;
          vertical-align: middle;
        }
        a {
          font-size: 18px;
          color: $text-color;
          height: 50px;
          width: 50px;
          line-height: 50px;
          border-radius: 50%;
          background-color: #fff;
          display: inline-block;
          margin-top: 20px;
          margin-right: 5px;
          &:focus,
          &:hover {
            color: $dusty-orange;
          }
        }
        .folio-expand {
          margin-top: -500px;
          margin-left: -500px;
          -webkit-transition: all 0.8s ease-in-out;
          transition: all 0.8s ease-in-out;
        }

      }
      &:hover{
        .overlay {
          opacity: 0.6;
          bottom: 0;
          height: 100%;
          .folio-expand {
            margin-top: 0;
            margin-left:0;
          }
        }
        .img-responsive {
          -webkit-transform: scale(1.5) rotate(-15deg);
          transform: scale(1.5) rotate(-15deg);
        }
      }
    }
  }
}

// Section: Doctors
.section-doctor {
  .section-header {
    h2 {
      margin: 0 0 ($base-spacing * 2);
    }
  }
  .section-content {
    .team-member {
      text-align: center;
      margin: 0 0 ($base-spacing * 4);
      h3 {
        font: 600 14px $font-family-sans-serif;
        margin: 0 0 ($base-spacing);
        text-transform: uppercase;
        @media (min-width: 768px) {
          font-size: 16px;
        }
      }
    }
    .img-responsive {
      width: 100%
    }
  }
}

// Section: Team
.section-team {
  background-image: url(../images/section-team-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  color: #fff;
  padding: ($base-spacing * 5) 0;
  .section-content {
    .counter {
      margin: 0 0 ($base-spacing * 3);
    }
    .number {
      font-size: 30px;
      font-weight: 600;
      margin: 0 0 $base-spacing;
      letter-spacing: 2px;
    }
    .name {
      font-size: 16px;
      font-weight: 300;
    }
  }
  @media (min-width: 768px) {
    padding: ($base-spacing * 7) 0;
    .section-content {
      .number {
        font-size: 60px;
      }
      .name {
        font-size: 20px;
      }
    }
  }
}    

// Section: Contact us
.section-contact {
  margin: 0;
  padding-bottom: 0;
  position: relative;
  overflow: hidden;
  .section-header {
    h2 {
      margin: 0 0 ($base-spacing * 2);
    }
  }
  .section-content {
    position: relative;
    .map {
      height: 600px;
      overflow: hidden;
      @media (min-width: 768px) {
        height: 500px;
      }
    }
    .company-info {
      bottom: 0;
      color: $white;
      position: absolute;
      width: 100%;
      z-index: 1;
      @media (min-width: 768px) {
        height: 100%;
        left: 10%;
        width: 33.3%;
        div {
          height: 100%;
        }
      }
      .item {
        background: rgba(234, 85, 4, 0.83);
        margin: 0 -15px;
        padding: ($base-spacing * 3) ($base-spacing * 2);
        @media (min-width: 768px) {
          padding: ($base-spacing * 4) ($base-spacing * 2);
        }
        a {
          color: $white;
          text-decoration: underline;
          &:focus,
          &:hover {
            text-decoration: none;
          }
        }
      }
      hr {
        border-top-color: #d25b1a;
        margin: ($base-spacing * 3) (-($base-spacing * 2));
        position: relative;
      }
    }
    ul {
      list-style: none;
    }
    li {
      list-style-type: none;
      margin: 0 0 $base-spacing;
      span {              
        display: inline-block;
        font-weight: 600;
        padding: 0 5px 0 0;
      }
    }
    .map-content {
      max-width: 220px;
    }
  }
}
