.header {
    position: relative;
}
.top-header {
    font-weight: 400;
    ul {
        list-style: none;
        li {
            display: inline-block;
            padding: $base-spacing ($base-spacing *2) $base-spacing 0;
            line-height: 1.71;
            strong {
                display: inline-block;
                margin: 0 $base-spacing 0 0;
            }
            a {
                color: $text-color;
                &:active,
                &:focus,
                &:hover {
                    color: $dusty-orange;
                    text-decoration: none;
                }
            }
            &.active {
                a {
                    color: $dusty-orange;
                    text-decoration: none;
                }
            }
        }
        &:first-child {
            li a {
                text-decoration: underline;
                &:active,
                &:focus,
                &:hover {
                    color: $dusty-orange;
                    text-decoration: none;
                }
            }
        }
    }
}
.navbar-inverse {
    background: $white;
    border-top: 5px solid $dusty-orange;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.13);
    border-radius: 0;
    margin: 0;
    .navbar-nav {
        font-size: $font-size-base;
        margin: 0 -15px;
        > li > a {
            box-shadow: 0 0 1px transparent;
            color: $navbar-inverse-link-color;
            display: block;
            padding: $base-spacing;
            position: relative;
            text-align: right;
            transform: perspective(1px) translateZ(0);
            transition-property: color;
            transition-duration: 0.3s;
            vertical-align: middle;
            &:before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: $navbar-inverse-link-active-bg;
                transform: scaleY(0);
                transform-origin: 50% 0;
                transition-property: transform;
                transition-duration: 0.3s;
                transition-timing-function: ease-out;
                z-index: -1;
            }
            &:focus,
            &:hover {
                color: $white;
                &:before {
                    transform: scaleY(1);
                }
            }
            @media (min-width: 768px) {
                display: inline-block;
                text-align: center;
                padding: $navbar-padding-vertical ($base-spacing * 2);
            }
        }
    }
    .navbar-brand {
        color: $dusty-orange;
        font: normal 36px/1.56 Dakota, sans-serif;
        height: $navbar-height;
        padding: ($base-spacing * 2.5) (($base-spacing - 2)*2);
        text-align: center;
        &:focus,
        &:hover {
            color: $dusty-orange;;
        }
        > img {
            max-height: 55px;
        }
    }
    .navbar-toggle {
        border: 0 none;
        color: $dusty-orange;
        .icon-bar {
            background-color: $dusty-orange;
            height: 3px;
        }
        &:focus,
        &:hover {
            background: none;
            color: $text-color;
            .icon-bar {
                background-color: $text-color;
            }
        }

    }
}







