.section {
  background-color: $white;
  padding: ($base-spacing * 4) 0;
  @media (min-width: 768px) {
    padding: ($base-spacing * 6) 0;
  }
  .section-header {
    margin: 0 0 ($base-spacing * 4);
    text-align: center;
    @media (min-width: 768px) {
      margin: 0 0 ($base-spacing * 5);
    }
    h1,
    h2 {
      background: url(/images/section-header-bg.jpg) no-repeat center bottom;
      color: $text-color;
      font: 600 18px/1.5 Roboto;
      text-transform: uppercase;
      padding: 0 0 $base-spacing;
      span {
        display: block;
      }
      @media (min-width: 768px) {
        font-size: 32px;
      }
    }
  }
  .section-content {
    p {
      margin: 0 0 ($base-spacing * 2);
      @media (min-width: 768px) {
        font-size: 14px;
        font-weight: 300;
        margin: 0 0 ($base-spacing * 3);
      }
    }
    img {
      margin: 0 0 ($base-spacing * 2);
    }
    h2 {
      font: 400 18px/1.5 Roboto;
      text-transform: uppercase;
      padding: 0 0 $base-spacing;
    }
  }
}

// Section: gray
.section-gray {
  background-color: $gray;
}

// Section: Orange
.section-orange {
  background-color: $dusty-orange;
}


