body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4 {
  font-family: $font-family-sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

// Helper classes
.u-display--inline-block {
  display: inline-block !important;
}
.u-float--none {
  float: none !important;
}
@media (min-width: 768px) {
  .u-sm-float--right {
    float: right !important;
  } 
  .u-sm-float--left {
    float: left !important;
  }  
}
.u-height--auto {
  height: auto !important;
}
.u-clear--left {
  clear: left !important;
}




