.preloader
	i(class="fa fa-circle-o-notch fa-spin")
section.section.section-banner.home-banner
	.section-content
		div(id="home-slider" class="carousel slide carousel-fade" data-ride="carousel")
			.carousel-inner
				.item.active(style="background-image: url(/images/banner/1.jpg)")
					.caption
						h1(class="animated fadeInLeftBig") Welcome to 
							span Mizaya Clinic
						br
						h1(class="animated fadeInRightBig") The Best Healthy Care
				.item(style="background-image: url(/images/banner/2.jpg)")
					.caption
						h1(class="animated fadeInLeftBig") Better 
							span Technology 
							| for
						br
						h1(class="animated fadeInRightBig") Better 
							span Healthcare
				.item(style="background-image: url(/images/banner/3.jpg)")
					.caption
						h1(class="animated fadeInLeftBig") Better 
							span Technology 
							| for
						br
						h1(class="animated fadeInRightBig") Better 
							span Healthcare 
				a(class="left-control" href="#home-slider" data-slide="prev")
					i(class="fa fa-angle-left")
				a(class="right-control" href="#home-slider" data-slide="next")
					i(class="fa fa-angle-right")
				a.btn-start(id="tohash" href="#about")
					i(class="fa fa-angle-down")
