section.section.section-banner.home-banner
	.section-content
		.container
			.row
				.col-sm-12
					h1 Better technology for better healthcare
					.col-sm-12
						a.btn.btn-banner(href="#") Learn more
	
