section.section.section-contact#contact.wow.fadeInUp
	.section-header
		.container
			h2 Contact us
			p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus efficitur vulputate tortor, ut viverra mauris bibendum et. Donec sed risus ut diam congue aliquam
	.section-content
		.map.wow.fadeIn(id="google-map", data-latitude="10.7340344", data-longitude="106.72157870000001", data-wow-duration="1000ms", data-wow-delay="400ms")
		.company-info
			.container-fluid
				.row
					.col-xs-12.col-sm-8.col-md-8
						.item
							ul.address
								li
									span Address:
									| 180/54 Nguyen Huu Canh, ward 22, Binh Thanh District, Ho Chi Minh city, Vietnam.
								li
									span TEL:
									| +84 123 456 789
								li
									span FAX:
									| +84 123 456 789
								li
									span Email:
									a(href="mailto: vppcuongnguyen@gmail.com") vppcuongnguyen@gmail.com
								li
									span Opening Hours:
									| 09:00 - 17.00 
							hr.hidden-xs
							.text-center.hidden-xs
								img.img-responsive.u-display--inline-block(src="/images/place.png")

