section.section.section-doctor#doctor
	.section-header
		.container
			h2 Our Doctors
			p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus efficitur vulputate tortor, ut viverra mauris bibendum et. Donec sed risus ut diam congue aliquam
	.section-content
		.container
			.team-members
				.row
					.col-sm-6.col-md-3
						.team-member
							.member-image
								img.img-responsive(src="./images/teams/team1.png")
							.member-info
								h3 Doctor 1
								p Emergency Doctor
					.col-sm-6.col-md-3
						.team-member
							.member-image
								img.img-responsive(src="./images/teams/team2.png")
							.member-info
								h3 Doctor 2
								p Emergency Doctor
					.col-sm-6.col-md-3
						.team-member
							.member-image
								img.img-responsive(src="./images/teams/team3.png")
							.member-info
								h3 Doctor 3
								p Emergency Doctor
					.col-sm-6.col-md-3
						.team-member
							.member-image
								img.img-responsive(src="./images/teams/team4.png")
							.member-info
								h3 Doctor 4
								p Emergency Doctor
section.section.section-team.clearfix
	.section-content
		.row
			.col-sm-6.col-md-3
				.number 3450
				.name Doctors
			.col-sm-6.col-md-3
				.number 1234
				.name Nurses
			.col-sm-6.col-md-3
				.number 6000
				.name Medical treatments
			.col-sm-6.col-md-3
				.number 6789
				.name Laboratory