section.section.section-doctor#doctor
	.section-header
		.container
			h2 Our Doctors
			p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus efficitur vulputate tortor, ut viverra mauris bibendum et. Donec sed risus ut diam congue aliquam
	.section-content
		.container
			.team-members
				.row
					.col-sm-6.col-md-3
						.team-member
							.member-image
								img.img-responsive(src="./images/teams/team1.png")
							.member-info
								h3 Doctor 1
								p Emergency Doctor
					.col-sm-6.col-md-3
						.team-member
							.member-image
								img.img-responsive(src="./images/teams/team2.png")
							.member-info
								h3 Doctor 2
								p Emergency Doctor
					.col-sm-6.col-md-3
						.team-member
							.member-image
								img.img-responsive(src="./images/teams/team3.png")
							.member-info
								h3 Doctor 3
								p Emergency Doctor
					.col-sm-6.col-md-3
						.team-member
							.member-image
								img.img-responsive(src="./images/teams/team4.png")
							.member-info
								h3 Doctor 4
								p Emergency Doctor
section.section.section-team.clearfix
	.section-content
		.row
			.col-sm-6.col-md-3
				.number.wow.fadeInLeft(data-from="0" data-to="3450" data-speed="2000" data-refresh-interval="50" data-wow-duration="1000ms" data-wow-delay="300ms") 3450
				.name Doctors
			.col-sm-6.col-md-3.wow.fadeInLeft(data-wow-duration="1000ms" data-wow-delay="300ms")
				.number(data-from="0" data-to="1234" data-speed="2000" data-refresh-interval="50") 1234
				.name Nurses
			.col-sm-6.col-md-3.wow.fadeInLeft(data-wow-duration="1000ms" data-wow-delay="300ms")
				.number(data-from="0" data-to="6000" data-speed="2000" data-refresh-interval="50") 6000
				.name Medical treatments
			.col-sm-6.col-md-3.wow.fadeInLeft(data-wow-duration="1000ms" data-wow-delay="300ms")
				.number(data-from="0" data-to="6789" data-speed="2000" data-refresh-interval="50") 6789
				.name Laboratory