section.section.section-doctor#doctor
	.section-header
		.container
			h2 Our Doctors
			p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus efficitur vulputate tortor, ut viverra mauris bibendum et. Donec sed risus ut diam congue aliquam
	.section-content
		.container
			.team-members
				.row
					.col-sm-6.col-md-3.wow.bounceIn
						.team-member
							.member-image
								img.img-responsive(src="./images/teams/team1.png")
							.member-info
								h3 Doctor 1
								p Emergency Doctor
					.col-sm-6.col-md-3.wow.bounceIn
						.team-member
							.member-image
								img.img-responsive(src="./images/teams/team2.png")
							.member-info
								h3 Doctor 2
								p Emergency Doctor
					.col-sm-6.col-md-3.wow.bounceIn
						.team-member
							.member-image
								img.img-responsive(src="./images/teams/team3.png")
							.member-info
								h3 Doctor 3
								p Emergency Doctor
					.col-sm-6.col-md-3.wow.bounceIn
						.team-member
							.member-image
								img.img-responsive(src="./images/teams/team4.png")
							.member-info
								h3 Doctor 4
								p Emergency Doctor
section.section.section-team#team
	.section-content.clearfix
		.container.text-center
			.row
				.col-xs-6.col-sm-3.col-md-3.wow.fadeInLeft(data-wow-duration="1000ms" data-wow-delay="300ms")
					.counter
						.number 3450
						.name Doctors
				.col-xs-6.col-sm-3.col-md-3.wow.fadeInLeft(data-wow-duration="1000ms" data-wow-delay="500ms")
					.counter
						.number 1234
						.name Nurses
				.col-xs-6.col-sm-3.col-md-3.wow.fadeInLeft(data-wow-duration="1000ms" data-wow-delay="700ms")
					.counter
						.number 6000
						.name Medical treatments
				.col-xs-6.col-sm-3.col-md-3.wow.fadeInLeft(data-wow-duration="1000ms" data-wow-delay="900ms")
					.counter
						.number 6789
						.name Laboratory