footer.footer
	.container
		p.text-center @2016. All Rights Reserved

script(type='text/javascript', src='/js/jquery-3.1.0.min.js')
script(type='text/javascript', src='/vendor/bootstrap/javascripts/bootstrap.min.js')
script(type='text/javascript', src='/vendor/wow.min.js')
script(type='text/javascript', src='/vendor/lightbox.min.js')
script(type='text/javascript', src="/js/main.js")
