doctype html
html(lang="en")
	head
		title Mizaya clinic
		meta(http-equiv="Content-Type", content="text/html") 
		meta(charset="UTF-8")
		meta(name="description", content="Mizaya clinic")
		meta(name="keywords", content="Mizaya clinic")
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
		meta(name="author", content="Mizaya clinic")

		link(href="./vendor/animate.min.css", rel="stylesheet")
		link(href="./vendor/font-awesome.min.css", rel="stylesheet")
		link(href="./vendor/lightbox.css", rel="stylesheet")
		link(href="./css/styles.css", rel="stylesheet")

