header#home.header
	.top-header
		.container
			ul
				li Call us: 1900 1080
	.container
		.col-md-12
			.navbar.navbar-inverse.sticky-navigation.navbar-fixed-top.affix(role="navigation", data-spy="affix", data-offset-top="200")
				.container
					.navbar-header
						button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar")
							span.sr-only Toggle navigation
							span.icon-bar
							span.icon-bar
							span.icon-bar
						a(class="navbar-brand logo" href="/")
							| iknow
					.navbar-collapse.collapse#navbar
						ul.nav.navbar-nav.navbar-right
							li
								a(href="/#home") Home
							li
								a(href="/#about") About Us
							li
								a(href="/#service") Services
							li
								a(href="/#doctor") Doctors
							li
								a(href="/#contact") Contact Us