section.section.section-orange.section-openhour
	.section-content.container-fluid
		.row
			.col-xs-12.col-sm-4.col-md-4.hidden-xs.text-center.wow.fadeInUp(data-wow-duration="1000ms" data-wow-delay="300ms")
				.inner
					img.img-responsive.u-display--inline-block(src="./images/icons/emergency-icon.png", alt="Emergency case")
					h3 Emergency case
					p Cras pharetra erat libero, eu bibendum augue venenatis quis. Duis eu felis quis nunc venenatis vulputate pretium quis est. Mauris pretium eget orci vitae lobortis. Etiam sed tristique neque.
					a.btn.btn-call(href="#") Call us
			.col-xs-12.col-sm-4.col-md-4.text-center.open-item.wow.fadeInUp(data-wow-duration="1000ms" data-wow-delay="300ms")
				.inner
					img.img-responsive.u-display--inline-block(src="./images/icons/opening-hour.png", alt="Emergency case")
					h3 Opening hours
					p Cras pharetra erat libero, eu bibendum augue venenatis quis. 
					table.table.table-responsive
						tr
							th Monday - Friday
							td 9.00 - 17.00
						tr
							th Saturday
							td 9.30 - 14.30
						tr
							th Sunday
							td 9.00 - 17.00
			.col-xs-12.col-sm-4.col-md-4.hidden-xs.text-center.wow.fadeInUp(data-wow-duration="1000ms" data-wow-delay="300ms")
				.inner
					img.img-responsive.u-display--inline-block(src="./images/icons/emergency-icon.png", alt="Emergency case")
					h3 Emergency case
					p Cras pharetra erat libero, eu bibendum augue venenatis quis. Duis eu felis quis nunc venenatis vulputate pretium quis est. Mauris pretium eget orci vitae lobortis. Etiam sed tristique neque.
					a.btn.btn-call(href="#") Call us